/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

.conteudo-titulo{

    font-size: 54pt;

}
.conteudo-subtitulo{
    font-size: 18pt;
}